form(method="POST" action="/paste/submit")
    .row
        .medium-6.columns
            label Title
                input(type="text" name="title" id="titleinput")
            label Paste Here!
                textarea(name="text")
            label Language
            select(name='lang')
                option(value='', selected='selected') [Raw paste]
                option(label=' ', value='')  
                option(value='bash') Bash
                option(value='c') C
                option(value='csharp') C#
                option(value='cpp') C++
                option(value='css') CSS
                option(value='go') Go
                option(value='groovy') Groovy
                option(value='handlebars') Handlebars
                option(value='haskell') Haskell
                option(value='html') HTML
                option(value='http') HTTP
                option(value='jade') Jade
                option(value='java') Java
                option(value='javascript') JavaScript
                option(value='json') JSON
                option(value='less') LessCss
                option(value='matlab') Matlab
                option(value='mysql') MySQL
                option(value='perl') Perl
                option(value='php') PHP
                option(value='python') Python
                option(value='ruby') Ruby
                option(value='sass') Sass
                option(value='scala') Scala
                option(value='scss') SCSS
                option(value='sql') SQL
                option(value='swift') Swift
                option(value='typescript') TypeScript
                

            input(type="submit").button.secondary