form(method="POST" action="/paste/submit")
    .row
        .medium-6.columns
            label Title
                input(type="text" name="title" id="titleinput")
            label Paste Here!
                textarea(name="text")
            input(type="submit").button.secondary